---
Checks: >
    *,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-pro-type-const-cast,
    -fuchsia-*,
    -google-runtime-references,
    -llvm-header-guard,
    -llvmlibc-*,
    -misc-non-private-member-variables-in-classes,
    -modernize-use-nodiscard,
    -modernize-use-trailing-return-type,
    -readability-implicit-bool-conversion,
    -readability-magic-numbers,
    -readability-redundant-access-specifiers
